body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
  overflow: hidden;
}
.title {
  color: red;
  font-size: 30px;
}
.duck {
  position: absolute;
  background-image: url(../images/duckhunt.png);
  background-position: -100px -160px;
  width: 110px;
  height: 115px;
  /* GIVE THE LEFT AND TOP POSITION OF DUCK HAVE A TRANSITION EFFECT
  ONLY NEEDED CHANGE IN THIS FILE!! */
  transition: top 2s, left 2s;
  transition-timing-function: linear;
  background-repeat: no-repeat;
}

.duck.right {
  background-position: -200px -160px;
}
.duck.right.flap {
  background-position: -300px -160px;
}
.duck {
  background-position: -100px -160px;
}
.duck.flap {
  background-position: -430px -160px;
}
.duck.shot {
  background-position: center;
  background-image: url(../images/shot.png);
}
button {
  position: absolute;
  top: 680px;
  left: 50px;
  border-radius: 12px;
  border: 2px solid;
  padding: 18px;
  background-color: orange;
}
#addSpeed {
  position: absolute;
  top: 680px;
  left: 200px;
  border-radius: 12px;
  border: 2px solid;
  padding: 18px;
  background-color: hotpink;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
button::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition: all 0.2s;
}

button:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
button:focus {
  border: green;
}
#dog {
  position: absolute;
  background-image: url(https://content.invisioncic.com/r268679/profile/photo-877.gif);
  top: 510px;
  right: 300px;
  /* visibility: hidden; */
}
.hide {
  display: none;
}
.popup {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  border: solid red 6px;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s;
}
popup__content {
  width: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}

popup__text {
  /* font-size: 1.4rem;
  margin-bottom: 4rem;

  -moz-column-count: 2;
  -moz-column-gap: 4rem; //1em = 14px;
  -moz-column-rule: 1px solid $color-grey-light-1;

  column-count: 2;
  column-gap: 4rem; //1em = 14px;
  column-rule: 1px solid $color-grey-light-1; */
}

/* //Open states */
/* popup:target {
  opacity: 1;
  visibility: visible;
}
*/
.popup-open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* popup__close popup:link popup:visited {
  color: grey;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
} */
*/ popup:hover {
  color: blue;
}
