body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1592969171/background.png');
  background-size: cover;
  background-position: center;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
  overflow: hidden;
}
body {
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1592969171/topLayerBackground.png');
  z-index: 5;
}

button {
  position: absolute;
  top: 680px;
  left: 50px;
  border-radius: 12px;
  border: 2px solid;
  padding: 18px;
  background-color: orange;
}
.playAgain {
  position: static;
  background-color: greenyellow;
  margin-top: 10px;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

#dogWithDeadDucks {
  position: absolute;
  z-index: -1;
  width: 20%;
  top: 540px;
  right: 300px;
}

.hide {
  display: none;
}
.popup {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid white 6px;
}
.popup__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  opacity: 1;
}
.popup-open {
  opacity: 1;
  animation: popup 3s forwards;
}
/* //// CRITICAL Media Queries /////  */
@media screen and (max-height: 500px) {
  .popup__content {
    font-size: 16px;
  }
  .popup {
    width: 25%;
    left: 37%;
  }
  .playAgain {
    padding: 10px;
    font-size: 12px;
  }
}
@media screen and (max-height: 400px) {
  .popup__content {
    font-size: 14px;
  }
  .playAgain {
    padding: 10px;
    font-size: 8px;
  }
}

/* /////////NONE-CRITICAL RENDER CSS////////  */
.duck {
  position: absolute;
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1592969171/duckhuntsprits.png');
  background-position: -200px -560px;
  border: solid red 3px;
  width: 110px;
  height: 115px;
  /* GIVE THE LEFT AND TOP POSITION OF DUCK HAVE A TRANSITION EFFECT
  ONLY NEEDED CHANGE IN THIS FILE!! */
  transition: top 2s, left 2s;
  transition-timing-function: linear;
  background-repeat: no-repeat;
}

.duck.right {
  background-position: -200px -160px;
}
.duck.right.flap {
  background-position: -300px -160px;
}
.duck {
  background-position: -100px -160px;
  border: solid blue 3px;
}
.duck.flap {
  background-position: -430px -160px;
  border: solid green 3px;
}
.duck.shot {
  background-position: center;
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1592969171/shot.png');
}

button::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition: all 0.2s;
}

button:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.deadDogUp {
  animation: dogUp 1.5s forwards;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes dogUp {
  0% {
    top: 540px;
  }
  100% {
    top: 400px;
  }
}
@keyframes mobildogUp {
  0% {
    top: 325px;
  }
  100% {
    top: 210px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background: url(https://res.cloudinary.com/dh41vh9dx/image/upload/v1545059996/Landscape-Mode.png) no-repeat center
      center fixed;
    background-size: contain;
    background-color: black;
    background-size: 80%;
    z-index: 100;
  }
  .duck {
    display: none;
  }
  button {
    display: none;
  }
  .popup {
    display: none;
  }
}

@media (max-device-width: 850px) {
  #dogWithDeadDucks {
    position: absolute;
    width: 20%;
    top: 325px;
    right: 300px;
  }
  .deadDogUp {
    animation: mobildogUp 1.5s forwards;
  }
  button {
    top: 380px;
  }
}
